In [2]:
import pandas as pd

In [6]:
# Load data

df = pd.read_excel('final_df_dc2.xlsx')

In [7]:
df.head()

,Unnamed: 0,date,email_cost,phone_cost,f2f_cost,videocall_cost,Invoiced Sales (CAF)
0,0,2021-02-07,98.28,2083.68,686.43,0.00,94997.94
1,1,2021-02-14,421.20,2980.82,991.51,104.16,13722.43
2,2,2021-02-21,730.08,3820.08,381.35,208.32,64698.45
3,3,2021-02-28,351.00,4254.18,2593.18,520.80,145500.07
4,4,2021-03-07,659.88,4456.76,1677.94,1093.68,27786.52

In [8]:
df_weekly = df.groupby(pd.Grouper(key='date', freq='W')).sum().reset_index()

In [9]:
df_weekly.shape

(117, 7)

In [10]:
df_weekly.head()

,date,Unnamed: 0,email_cost,phone_cost,f2f_cost,videocall_cost,Invoiced Sales (CAF)
0,2021-02-07,0,98.28,2083.68,686.43,0.00,94997.94
1,2021-02-14,1,421.20,2980.82,991.51,104.16,13722.43
2,2021-02-21,2,730.08,3820.08,381.35,208.32,64698.45
3,2021-02-28,3,351.00,4254.18,2593.18,520.80,145500.07
4,2021-03-07,4,659.88,4456.76,1677.94,1093.68,27786.52

In [11]:
df_weekly.to_excel('final_df_week.xlsx')